/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Roboto/roboto-v20-latin_cyrillic-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-bgd-color: #2f303a;
  --hero-title-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --label-bg-cl: rgba(47, 48, 58, 0.8);
  --team-bg-color: #f5f4fa;
  --filter-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --works-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
header {
  border-bottom: 1px solid #ececec;
}
link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid tomato;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  color: var(--title-text-color);
}
.logo-accent {
  color: var(--accent-color);
}
.logo-link {
  display: block;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--title-text-color);
}
.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-contacts {
  display: inline-flex;
  margin-left: auto;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link,
.aut-nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav-link {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}
.aut-nav-link {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--primary-text-color);
  transition-property: color;
  transition-delay: 250ms;
}
.site-nav-link:hover,
.site-nav-link:focus,
.aut-nav-link:hover,
.aut-nav-link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}
.tel-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}
.aut-nav-link:hover .mail-icon,
.aut-nav-link:focus .tel-icon {
  fill: var(--accent-color);
}

.dark-bg {
  background: var(--dark-bgd-color);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.overlay {
  outline: 1px solid blueviolet;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img17.jpg);
  background-color: var(--dark-bgd-color);
}
.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero,
.filter-button,
.button-modal {
  color: var(--title-text-color);
  border: 1px solid transparent;
  border-radius: 4px;
}
.button-hero,
.button-modal {
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-item {
  flex-basis: calc(100% / 4 - 30px);
}
.list-item::before {
  content: "";
  display: block;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--filter-bg-color);
}
.list-item:nth-child(1)::before {
  background-image: url(../images/vector1.svg);
  background-size: 65px 70px;
}
.list-item:nth-child(2)::before {
  background-image: url(../images/vector2.svg);
  background-size: 67px 70px;
}
.list-item:nth-child(3)::before {
  background-image: url(../images/vector3.svg);
  background-size: 70px 54px;
}
.list-item:nth-child(4)::before {
  background-image: url(../images/vector4.svg);
  background-size: 70px;
}
.qualities-item {
  margin-top: 10px;
  margin-bottom: 0;
}
.qualities-title,
.join-title,
.picture-label {
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.work-container {
  padding-top: 0;
}
.work-title,
.clients-title,
.title-our-team {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}
.img-container {
  display: inline-flex;
  flex-wrap: wrap;
}
.pictures {
  flex-basis: auto;
  position: relative;
}
.pictures:not(:first-child) {
  margin-left: 30px;
}
.picture-label {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  padding: 27px;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: var(--label-bg-cl);
  color: var(--hero-title-color);
}

.section.team {
  background-color: var(--team-bg-color);
}
.team-title,
.works-title {
  color: var(--title-text-color);
}
.team-title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.list.team {
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
}
.position {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
.person {
  padding: 30px 32px;
}
.person-item {
  flex-basis: calc(100% / 4 - 30px);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.social-list {
  display: inline-flex;
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms var(--timing-function);
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;
  transition-delay: 250ms;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--hero-title-color);
}

.clients-list {
  display: flex;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid;
  border-color: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-inverse {
  color: var(--hero-title-color);
}
.address,
.contacts {
  font-size: 14px;
  line-height: 1.71;
}
.link {
  text-decoration: none;
}
.contacts {
  display: block;
  color: var(--contacts-text-color);
  margin-top: 9px;
}
.address {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 0;
}
.join-container {
  display: block;
  margin-left: 70px;
  padding-top: 12px;
}
.join-title {
  color: var(--team-bg-color);
  margin-bottom: 20px;
}
.join-list {
  display: flex;
}
.join-item {
  display: inline-flex;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--hero-title-color);
  background-color: var(--primary-text-color);
  transition: background-color 250ms var(--timing-function);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
.join-link:hover .social-icon,
.join-link:focus .social-icon {
  fill: var(--hero-title-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--hero-title-color);
  background: var(--accent-color);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  background-color: var(--filter-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.works-section {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 24px;
}
.works-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.explanation {
  margin-top: 4px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.works-item {
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
}
.works-link {
  text-decoration: none;
}
.works-link:hover .our-works,
.works-link:focus .our-works {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14),
    0px 3px 4px rgba(0, 0, 0, 0.2);
}
.works-thumb {
  position: relative;
  overflow: hidden;
}
.works-thumb::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--works-overlay);

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}
.works-link:hover .works-thumb::before,
.works-link:focus .works-thumb::before {
  opacity: 1;
  transform: translateY(0);
}
.works-description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 24px;
  align-items: center;
  color: var(--hero-title-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}
.works-link:hover .works-description,
.works-link:focus .works-description {
  opacity: 1;
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 8px;

  background-color: var(--hero-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}
.modal-item {
  display: block;
  height: 40px;
  width: 100%;
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.contract-label {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.btn-close {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  background: #ffffff;
}
